<!DOCTYPE html>
<html lang="de">
<head>
  <title>{% block title %}WetterApp{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="{{ url_for('static', filename='styles.css') }}" as="style">
  <link rel="icon" href="{{ url_for('static', filename='Favicon_Wetter.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  {% block specificScript %}{% endblock %}
</head>
<body>
    <div id="topbar" class="{% if no_topbar %}hidden{% endif %}">
      {% include "layouts/topbar.html" %}
    </div>
    {% block content %}{% endblock %}
    {% include "layouts/footer.html" %}
</body>
</html>
