<nav class="topbar">
  <div class="menu-toggle" id="mobile-menu">☰</div>
  <ul>
      <li class="{% if request.path == '/Home' %}active{% endif %}"><a href="{{ url_for('home') }}">Home</a></li>
      <li class="{% if request.path == '/Wetterarchiv' %}active{% endif %}"><a href="{{ url_for('wetterarchiv') }}">Wetterarchiv</a></li>
      <li class="{% if request.path == '/3-Tage-Wetter' %}active{% endif %}"><a href="{{ url_for('wettervorhersage_3_Tage') }}">Vorhersage</a></li>
      <li class="{% if request.path == '/Impressum' %}active{% endif %}"><a href="{{ url_for('impressum') }}">Impressum</a></li>
  </ul>
</nav>
