<nav class="topbar">
  <div class="menu-toggle" id="mobile-menu">☰</div>
  <ul>
    {% if active_page != 'home' %}
      <li><a href="{{ url_for('home') }}">Home</a></li>
    {% endif %}
    {% if active_page != 'wetterarchiv' %}
      <li><a href="{{ url_for('wetterarchiv') }}">Wetterarchiv</a></li>
    {% endif %}
    {% if active_page != 'vorhersage' %}
      <li><a href="{{ url_for('wettervorhersage_3_Tage') }}">Vorhersage</a></li>
    {% endif %}
    {% if active_page != 'impressum' %}
      <li><a href="{{ url_for('impressum') }}">Impressum</a></li>
    {% endif %}
  </ul>
</nav>
