.portrait {
    width: 100%;
    max-width: 25em;
    height: auto;
}

.icon {
    width: 100%;
    max-width: 3.75em;
    height: auto;
    padding-left: 0.625em;
    padding-top: 0.625em;
}

.symbol {
    height: 0.9em;
    width: auto;
    vertical-align: middle;
    margin-right: 0.1em;
}