{% extends "layouts/index.html" %}
{% block content %}
    <div class="page-wrapper fade">
        <div class="main-wrapper-misc">
            <main class="content">
                <h1 class="misc-text1">
                    Datenschutz
                </h1>

                <p class="misc-textMain">
                    <b class="misc-textMain-Fett">1. Verantwortlicher</b><br>
                    Martin Günther<br>
                    D 10318 - Berlin<br>
                    E-Mail: &nbsp;<span id="email"></span>
                    <noscript><span class="noscript-email">Protools1802 [ät] gmail [punkt] com</span></noscript><br>
                    <br>
                    <b class="misc-textMain-Fett">2. Zugriffsdaten/Server-Logs</b><br>
                    Beim Besuch dieser Website werden durch den Hosting-Anbieter automatisch Informationen erhoben und in Logfiles gespeichert:<br>
                    - IP-Adresse des aufrufenden Geräts<br>
                    - Datum und Uhrzeit des Zugriffs<br>
                    - aufgerufene Seite bzw. Datei<br>
                    - Browsertyp und -version<br>
                    - verwendetes Betriebssystem<br>
                    - Referrer-URL (falls vorhanden)<br>
                    Diese Daten sind technisch erforderlich, um die Website bereitzustellen und die Sicherheit des Servers zu gewährleisten. Eine Zusammenführung 
                    dieser Daten mit anderen Datenquellen findet nicht statt. Die Logfiles werden automatisch archiviert. Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO 
                    (berechtigtes Interesse an einer sicheren und stabilen Bereitstellung der Website).<br>
                    <br>
                    <b b class="misc-textMain-Fett">3. Keine Cookies/Tracking-Tools</b><br>
                    Auf dieser Website werden keine Cookies gesetzt und keine Analyse- oder Trackingdienste eingesetzt.<br>
                    <br>
                    <b class="misc-textMain-Fett">4. Nutzung externer Dienste</b><br>
                    Diese Website nutzt externe Dienste, um die angezeigten Inhalte bereitzustellen:<br>
                    <br>
                    <b><u>OpenWeatherMap API</u></b><br>
                    Zur Anzeige aktueller Wetterdaten wird eine Schnittstelle (API) des Dienstes  „OpenWeatherMap“ (OpenWeather Ltd., UK) verwendet. Beim Abruf 
                    der Wetterdaten wird eine Anfrage an die Server von OpenWeatherMap gesendet. Dabei wird technisch bedingt auch die IP-Adresse des aufrufenden 
                    Geräts übermittelt.<br>
                    Die Daten werden ausschließlich zur Bereitstellung der Wetterinformationen genutzt. Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO (berechtigtes 
                    Interesse an einer funktionalen Darstellung der Wetterdaten).<br>
                    <br>
                    <b><u>Einbindung von Chart.js über CDN</u></b><br>
                    Zur grafischen Darstellung der Wetterdaten wird die JavaScript-Bibliothek „Chart.js“ über ein Content Delivery Network (CDN) geladen. Beim Aufruf 
                    der Datei wird eine Verbindung zu Servern des CDN-Anbieters hergestellt, wodurch technisch bedingt die IP-Adresse des aufrufenden Geräts übermittelt 
                    wird.<br>
                    Die Einbindung erfolgt, um eine schnelle und stabile Auslieferung der Inhalte zu gewährleisten. Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO.
                    <br>
                    Es findet keine weitergehende Verarbeitung personenbezogener Daten durch diese Website statt.<br>
                    <br>
                    <b b class="misc-textMain-Fett">5. Externe Links</b><br>
                    Diese Website enthält ausschließlich Links zu meiner eigenen Website. Beim Anklicken des Links verlassen Sie diese Website. Für die Verarbeitung 
                    personenbezogener Daten auf der verlinkten Seite ist ausschließlich der jeweilige Betreiber (also auch ich) verantwortlich.<br>
                    <br>
                    <b b class="misc-textMain-Fett">6. Rechte der betroffenen Person</b><br>
                    Sie haben nach DSGVO folgende Rechte:<br>
                    - Recht auf Auskunft über die verarbeiteten personenbezogenen Daten<br>
                    - Recht auf Berichtigung<br>
                    - Recht auf Löschung<br>
                    - Recht auf Einschränkung der Verarbeitung<br>
                    - Recht auf Widerspruch<br>
                    - Recht auf Datenübertragbarkeit<br>
                    Zur Ausübung dieser Rechte genügt eine formlose Mitteilung an die oben genannte Kontaktadresse.<br>
                    <br>
                </p>
            </main>
        </div>
    </div>
{% endblock %}
