{% extends "layouts/index.html" %}
{% set no_topbar = True %}
{% set no_footer = True %}
{% block content %}
    <div class="page-wrapper fade">
        <div class="main-wrapper-home">
            <main class="content">
                <h1 class="banner">WetterApp</h1>
                <div class="home-kacheln">
                    <a href="{{url_for('archive.wetterarchiv')}}" class="card-link">
                        <div class="card">
                            <img src="{{ url_for('static', filename='Wetterarchiv.png') }}" class="portrait" alt="Wetterarchiv">
                            <h1>Wetterarchiv</h1>
                            <p>Abfrage von historischen Temperaturen europäischer Wetterstationen von 1860 bis 2022.</p>
                        </div>
                    </a>
                    <a href="{{url_for('forecast.wettervorhersage_3_Tage')}}" class="card-link">
                        <div class="card">
                            <img src="{{ url_for('static', filename='WetterAPI.png') }}" class="portrait" alt="Wetter API">
                            <h1>Wettervorhersage</h1>
                            <p>Wettervorhersage für die nächsten 3 Tage.</p>
                        </div>
                    </a>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
