<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="preload" href="{{ url_for('static', filename='Wetter_Wallpaper.webp') }}" as="image">
    <link rel="icon" href="{{ url_for('static', filename='Favicon_Wetter.png') }}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WetterApp</title>
    <link rel="stylesheet" href="static/Pics.css">
    <link rel="stylesheet" href="static/Styles.css">
    <link rel="stylesheet" href="static/home_card.css">
    <script src="{{ url_for('static', filename='js_styles.js') }}" defer></script>
</head>

<body>
    <div class="main-wrapper fade">
        <main class="content">
            <h1 class=banner>WetterApp</h1>

            <div class="kacheln">
                <a href="{{url_for('wetterarchiv')}}" class="card-link">
                    <div class="card">
                        <img src="{{ url_for('static', filename='Wetterarchiv.png') }}" class="portrait" alt="Wetterarchiv">
                        <h2>Wetterarchiv</h2>
                        <p>Abfrage von historischen Temperaturen europäischer Wetterstationen von 1860 bis 2022.</p>
                    </div>
                </a>

                <a href="{{url_for('wettervorhersage_3_Tage')}}" class="card-link">
                    <div class="card">
                        <img src="{{ url_for('static', filename='WetterAPI.png') }}" class="portrait" alt="Wetter API">
                        <h2>Wettervorhersage</h2>
                        <p>Wettervorhersage für die nächsten 3 Tage.</p>
                    </div>
                </a>
            </div>
        </main>
    </div>
<br>
<a style="text-align: center; color: white; font-size: 0.85em; font-weight: 300; text-decoration: none;" href="https://www.mguenther-build.de">MGuenther-build.de</a>
<br>
</body>
</html>
