{% extends "layouts/index.html" %}

{% block title %}WetterApp - Wetterarchiv{% endblock %}

{% block specificScript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="{{ url_for('static', filename='js/wetterarchiv.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="main-wrapper-subsites fade">
    <main class="content">
        <h1 class="banner-archiv">Wetterarchiv</h1>
        <form id="wetterForm">
            <div class="form-group">
                <p class="abfrage-label">Abfrage starten</p>
                <br>
               <label for="stationInput">📍 Wetterstation:</label>
                <input type="text" id="stationInput" list="stationenList" placeholder="Ort eingeben oder wählen …" required>
                <datalist id="stationenList">
                {% for station in stationen %}
                    <option value="{{station.STANAME}}" data-staid="{{station.STAID}}"></option>
                {% endfor %}
                </datalist>
            </div>

            <div class="form-group">
                <label for="date">📅 Datum:</label>
                <input type="text" id="date" name="date" placeholder="z.B. 25.10.1988">
            </div>
            <button type="submit">🌡️ Temperatur abrufen</button>
        </form>
        <div id="result"></div>
        <div id="chartWrapper">
            <div id="chartContainer">
                <h2>Höchsttemperatur</h2>
                <div id="chartInfo"></div>
                <h2>📈 Jahresverlauf</h2>
                <canvas id="chart"></canvas>
            </div>
        </div>

        <div class="info-wrapper">
            <p class="wetterarchiv-info">Bitte bedenken Sie, dass es sich hier um eine Sammlung aller europäischen Wetterstationen handelt, die seit 1860 bis 2022 
                Messungen vornahmen. Einige von ihnen sind schon lange nicht mehr in Betrieb, andere waren nur wenige Jahre in Betrieb oder immer mal wieder 
                (doppelte Einträge!).
            </p>
        </div>
    </main>
</div>
{% if fehler %}
    <p>Fehler: {{ fehler }}</p>
{% endif %}
<script id="stationen-data" type="application/json">{{ stationen | tojson }}</script>
{% endblock %}
